:root {
  --primary-color: #003449;
  --secondary-color: #055c7e;
  --tertiary-color: #0ca5b9;
  --white: #ffffff;
  --black: #000000
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #000000;
  color: #ffffff;
  scroll-behavior: smooth;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
    font-family: poppins;
}

a {
  color: inherit;
  text-decoration: none;
}
button{
  cursor: pointer;
}
.mainWrapper {
  height: 100dvh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
