.idxAboutWrapper{
  width: 100%;
  height: 100dvh;
  background-image: linear-gradient(to right, #000, #ffffff36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  gap: 20px;

}
.idxAboutDetails{
  width: 60%;
    margin-left: 50px;
}
.idxAboutTitle {
  font-size: 6rem;
  line-height: 100px;
  margin: 40px 0;
}
.description {
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #a1a1a1;
  font-size: 20px;
}

.selfImgContainer{
   width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selfImg{
  width: auto;
  height: 100%;
  max-height: 600px;
  filter: saturate(0);
}
.selfImg:hover{
    filter: saturate(1);
}

.idxAboutBtn{
      background: none;
    color: var(--white);
    background: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 20px;
}
.mailIdWapper{
  margin-top: 30px;
}

.mailId{
    letter-spacing: 1px;
  word-spacing: 5px;
  color: var(--tertiary-color);
  font-size: 20px;
}
.mailId:hover{
  color: #05d0eb;
}

.socailIconLinkWrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.socialIcon{
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s;
}
.socialIcon:hover{
  box-shadow: 0px 0px 20px #3ae8ff;
}