.navbar_container{
    width: 100%;
    height: auto;
    padding: 20px 80px;
    background: #a0a0a000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    z-index: 10;
}
.nav_btn{
    background: none;
    border: none;
    outline: none;
    padding: 2px 10px;
    color: var(--white);
    cursor: pointer;
}
.logo{
    width: auto;
    height: 35px;
}
.navbar_right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.theme_btn{
    display: flex;
    background: none;
    border: none;
}
.connect_btn{
    background: none;
    color: var(--white);
    background: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    /* box-shadow: #9de3f0 0px 0px 10px; */
}